evaluation/dataset/
evaluation/maest_full_predictions.csv
evaluation/maest_top_3_predictions.csv
evaluation/groundtruth.pk
evaluation/pickle_read.py
evaluation/evaluate_maest_plots

*.mp3
*.wav
*.flac
*.png
*.pk

.DS_Store